@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing:border-box;
}

body {
	background:white;
}

nav {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-top:2%;
	font-size:14px;
	margin:2%;
}


div > a {
	text-decoration:none;
	color:black;
	font-family:'Roboto',sans-serif;
	margin:auto;
}

#logo-space {
	margin-top:20%;
	margin-bottom:2%;
}

#logo {
	display:block;
	margin:auto;
}

#search-bar {
	width:50%;
	border-radius:10px;
	height:2em;
	display:block;
	margin:auto;
}

#buttons {
	margin-top:1%;
	display:flex;
	justify-content:center;
}

#buttons > button {
	margin:1%
}
