@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing:border-box;
}

body {
	background:white;
}

nav {
	display:flex;
	font-size:14px;
	align-items:center;
	padding:6px;
	width:100%;
	justify-content:space-between;
}


#nav-left > a, #nav-right > a {
	text-decoration:none;
	color:black;
	font-family:'Roboto',sans-serif;
}

#nav-left {
	margin-left:15px;

}

#nav-left > a:nth-child(2) {
	display:inline-block;
	padding:5px;
	margin-left:8px;
}

#nav-right {
	margin-right:15px;
}

#nav-right > a:nth-child(2) {
	display:inline-block;
	padding:5px;
}

svg {
	height:25px;
	width:25px;
	padding-top:5px;
	padding-right:3px;
}

#login {
	background:#1a73e8;
	height:2.5em;
	width:6em;
	border-radius:4px;
	border:2px solid transparent;
	color:white;
}

#login:hover {
	background:#2b7de9;
}

#logo {
	display:block;
	margin:auto;
}

#search-bar {
	width:45%;
	border-radius:10px;
	height:2em;
	display:block;
	margin:auto;
}

#buttons {
	margin-top:1%;
	display:flex;
	justify-content:center;
}

#buttons > button {
	margin:1%
}

p {
	text-align:center;
}

footer {
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	background:#f2f2f2;
}


#location, #bottom-right > a, #bottom-left > a {
	color:rgba(0,0,0,.54);
}

#location, #hotlinks {
	border-bottom:1px solid #dadce0;
}

#location {
	padding: 15px 30px 15px 30px;
	font-size:15px;
}

#hotlinks {
	display:flex;
	justify-content:space-between;
}

#bottom-right, #bottom-left {
	padding:0 20px;
	margin 15px 0;
}

@media only screen and (max-width:600px) {
	#search-bar {
		width:90%;
	}

}
